.dashBoard .cards{
    display: flex;
    justify-content: space-around;
}
.dashBoard .cards .item{
    padding: 40px;
    background-color: rgba(40, 117, 240, 0.421);
    margin-top: 50px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
.dashBoard .cards .item img{
    width: 150px;
    height: 150px;
}
.earnings{
    width: 400px;
    margin: auto;
    margin-top: 100px;
}
.dashBoard h1{
    margin: 20px;
    margin-left: 50px;
    width: 250px;
    padding: 10px;
    padding-left: 20px;
    color: white;
    border-radius: 10px;
    background-color:rgba(18, 21, 29, 0.371) ;
    margin-top: 40px;
}
.bannerButton{
    margin: 30px;
}
.banner{
    text-align: center;
    margin-top: 50px;
}