.cart{
    background-color: rgb(241, 243, 246);
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 91vh;
}
.cartItems .address{
    width: 70%;
    height: 5rem;
    background-color: #ffff;
    margin: 2rem;
    margin-left: 7rem;
}
.cartItems .items{
    width: 70%;
    max-height: 70vh;
    height: fit-content;
    background-color: #ffff;
    margin: 2rem;
    margin-left: 7rem;
    overflow-y: scroll  ;
}
.cart .amountDetails{
    background-color: #ffff;
    /* width: 30rem; */
    height: fit-content;
    margin-right: 4rem;
    margin-top: 2rem;
}
.placeOrder{
    width: 100%;
    text-align: end;
    height: 5rem;
    background-color: #ffff;
    position: sticky;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.placeOrder button{
    width: 22rem;
    cursor: pointer;
    margin: 15px;
    background-color: rgb(251, 100, 27);
    color: white;
    font-size: large;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}
.checkout button{
    width: 22rem;
    cursor: pointer;
    margin: 15px;
    background-color: rgb(251, 100, 27);
    color: white;
    font-size: large;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
}
.addressButton{
    text-align: end;
    display: flex;
}
.addressButton button{
   background-color: rgb(67, 114, 238);
   color: white;
   font-size: larger;
   border: none;
   border-radius: 5px;
   padding: 10px;
   margin-right: 5px;
}
.addressButton .add{
  background-color: green;
  border-radius: 10px;
}
.address .content{
    display: flex;
    align-items: center;
}
.address{
   padding: 20px;
    
}
.address .heading{
   padding: 10px;
   border-radius: 5px;
   font-weight: bold;
   background-color: rgb(240, 242, 245);
   color: rgb(113, 116, 120);
    
}
.address .content .selectedAddress{
    margin: 20px;
    width: 65%;
}
.amountDetails{
    padding: 50px;
}

.amountDetails .details span,.amountDetails .total{
    font-size: 25px;
}
.amountDetails .details{
    margin-top: 20px;
    line-height: 60px;
}
.amountDetails .priceHead{
    border-bottom: 1px solid gray;
}
.amount{
    margin-left: 150px;
}

.amountDetails .total{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid gray;
}

.cupon input{
    width: 270px;
    margin-right: 20px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
}
.cupon button{
    padding: 10px;
    font-size: larger;
    color: #ffff;
    background-color: rgb(40, 116, 240);
    border: none;
    border-radius: 5px;
}
.itemsBuy{
    width: 70%;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffff;
    margin: 2rem;
    margin-left: 7rem;
}