.carousel .imgDiv{
    height: 500px;
    text-align: center;
}
.carousel{
    width: 800px;
    height:max-content;
    margin: 50px;
}
.carousel .imgDiv img{
    margin: 0;
    width: 25rem;
    height: 30rem;
    border-radius: 10px;
    margin: auto;
}